<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.xyls.dao.mybatis.mapper.OperationIdentifyLogModifyPassMapper" >
  <resultMap id="BaseResultMap" type="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPass" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usr_cd" property="usrCd" jdbcType="VARCHAR" />
    <result column="usr_pwd" property="usrPwd" jdbcType="VARCHAR" />
    <result column="lst_md_dt" property="lstMdDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, usr_cd, usr_pwd, lst_md_dt
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPassExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operation_identify_log_modify_pass
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation_identify_log_modify_pass
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operation_identify_log_modify_pass
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPassExample" >
    delete from operation_identify_log_modify_pass
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPass" useGeneratedKeys="true" keyProperty="id" >
    insert into operation_identify_log_modify_pass (usr_cd, usr_pwd, lst_md_dt
      )
    values (#{usrCd,jdbcType=VARCHAR}, #{usrPwd,jdbcType=VARCHAR}, #{lstMdDt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPass" useGeneratedKeys="true" keyProperty="id" >
    insert into operation_identify_log_modify_pass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usrCd != null" >
        usr_cd,
      </if>
      <if test="usrPwd != null" >
        usr_pwd,
      </if>
      <if test="lstMdDt != null" >
        lst_md_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usrCd != null" >
        #{usrCd,jdbcType=VARCHAR},
      </if>
      <if test="usrPwd != null" >
        #{usrPwd,jdbcType=VARCHAR},
      </if>
      <if test="lstMdDt != null" >
        #{lstMdDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPassExample" resultType="java.lang.Integer" >
    select count(*) from operation_identify_log_modify_pass
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operation_identify_log_modify_pass
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.usrCd != null" >
        usr_cd = #{record.usrCd,jdbcType=VARCHAR},
      </if>
      <if test="record.usrPwd != null" >
        usr_pwd = #{record.usrPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.lstMdDt != null" >
        lst_md_dt = #{record.lstMdDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operation_identify_log_modify_pass
    set id = #{record.id,jdbcType=INTEGER},
      usr_cd = #{record.usrCd,jdbcType=VARCHAR},
      usr_pwd = #{record.usrPwd,jdbcType=VARCHAR},
      lst_md_dt = #{record.lstMdDt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPass" >
    update operation_identify_log_modify_pass
    <set >
      <if test="usrCd != null" >
        usr_cd = #{usrCd,jdbcType=VARCHAR},
      </if>
      <if test="usrPwd != null" >
        usr_pwd = #{usrPwd,jdbcType=VARCHAR},
      </if>
      <if test="lstMdDt != null" >
        lst_md_dt = #{lstMdDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogModifyPass" >
    update operation_identify_log_modify_pass
    set usr_cd = #{usrCd,jdbcType=VARCHAR},
      usr_pwd = #{usrPwd,jdbcType=VARCHAR},
      lst_md_dt = #{lstMdDt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>