<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.xyls.dao.mybatis.mapper.OperationIdentifyLogSysMapper" >
  <resultMap id="BaseResultMap" type="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSys" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <result column="operation_detail" property="operationDetail" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="user_cd" property="userCd" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="op_time" property="opTime" jdbcType="TIMESTAMP" />
    <result column="module_sub_id" property="moduleSubId" jdbcType="INTEGER" />
    <result column="module_sub_detail" property="moduleSubDetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mch_id, operation_detail, module_id, user_cd, ip, op_time, module_sub_id, module_sub_detail
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operation_identify_log_sys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation_identify_log_sys
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operation_identify_log_sys
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSysExample" >
    delete from operation_identify_log_sys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSys" useGeneratedKeys="true" keyProperty="id" >
    insert into operation_identify_log_sys (mch_id, operation_detail, module_id, 
      user_cd, ip, op_time, 
      module_sub_id, module_sub_detail)
    values (#{mchId,jdbcType=VARCHAR}, #{operationDetail,jdbcType=VARCHAR}, #{moduleId,jdbcType=INTEGER}, 
      #{userCd,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{opTime,jdbcType=TIMESTAMP}, 
      #{moduleSubId,jdbcType=INTEGER}, #{moduleSubDetail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSys" useGeneratedKeys="true" keyProperty="id" >
    insert into operation_identify_log_sys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mchId != null" >
        mch_id,
      </if>
      <if test="operationDetail != null" >
        operation_detail,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="userCd != null" >
        user_cd,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="moduleSubId != null" >
        module_sub_id,
      </if>
      <if test="moduleSubDetail != null" >
        module_sub_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="operationDetail != null" >
        #{operationDetail,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="userCd != null" >
        #{userCd,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleSubId != null" >
        #{moduleSubId,jdbcType=INTEGER},
      </if>
      <if test="moduleSubDetail != null" >
        #{moduleSubDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSysExample" resultType="java.lang.Integer" >
    select count(*) from operation_identify_log_sys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operation_identify_log_sys
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mchId != null" >
        mch_id = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.operationDetail != null" >
        operation_detail = #{record.operationDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null" >
        module_id = #{record.moduleId,jdbcType=INTEGER},
      </if>
      <if test="record.userCd != null" >
        user_cd = #{record.userCd,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.opTime != null" >
        op_time = #{record.opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.moduleSubId != null" >
        module_sub_id = #{record.moduleSubId,jdbcType=INTEGER},
      </if>
      <if test="record.moduleSubDetail != null" >
        module_sub_detail = #{record.moduleSubDetail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operation_identify_log_sys
    set id = #{record.id,jdbcType=INTEGER},
      mch_id = #{record.mchId,jdbcType=VARCHAR},
      operation_detail = #{record.operationDetail,jdbcType=VARCHAR},
      module_id = #{record.moduleId,jdbcType=INTEGER},
      user_cd = #{record.userCd,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      op_time = #{record.opTime,jdbcType=TIMESTAMP},
      module_sub_id = #{record.moduleSubId,jdbcType=INTEGER},
      module_sub_detail = #{record.moduleSubDetail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSys" >
    update operation_identify_log_sys
    <set >
      <if test="mchId != null" >
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="operationDetail != null" >
        operation_detail = #{operationDetail,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="userCd != null" >
        user_cd = #{userCd,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleSubId != null" >
        module_sub_id = #{moduleSubId,jdbcType=INTEGER},
      </if>
      <if test="moduleSubDetail != null" >
        module_sub_detail = #{moduleSubDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.xyls.dao.mybatis.domain.OperationIdentifyLogSys" >
    update operation_identify_log_sys
    set mch_id = #{mchId,jdbcType=VARCHAR},
      operation_detail = #{operationDetail,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=INTEGER},
      user_cd = #{userCd,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=TIMESTAMP},
      module_sub_id = #{moduleSubId,jdbcType=INTEGER},
      module_sub_detail = #{moduleSubDetail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>