<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration scan="true">
	<jmxConfigurator />
    <property name="LOG_HOME" value="../log"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%t] %-5p %C [%L]- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>ERROR</level>-->
<!--        </filter>-->
    </appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

<!--    <appender name="org_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <File>${LOG_HOME}/org_appender.log</File>-->
<!--        <encoder>-->
<!--            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%t] %-5p %C{5} [%L]- %m%n</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_HOME}/org_mybatis_durid_sql_appender.log.%d{yyyyMMdd}.%i%d{HH}</fileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>50MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    <logger name="org" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="org_appender"/>-->
<!--    </logger>-->



</configuration>

