<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration scan="true">
	<jmxConfigurator />
    <property name="LOG_HOME" value="../log/ipaynow_hr"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%t] %-5p %C [%L]- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="controller_log_appender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>fileName</Key>
            <DefaultValue>unknown</DefaultValue>
        </discriminator>
        <sift>
            <appender name="controller_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${LOG_HOME}/${fileName}.log</File>
                <encoder>
                    <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%t] %-5p %C{5} [%L]- %m%n</pattern>
                    <charset>UTF-8</charset>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_HOME}/${fileName}.log.%d{yyyyMMdd}.%i%d{HH}</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>50MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <appender name="org_mybatis_durid_sql_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/org_mybatis_durid_sql_appender.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%t] %-5p %C{5} [%L]- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/org_mybatis_durid_sql_appender.log.%d{yyyyMMdd}.%i%d{HH}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <logger name="org.mybatis" level="DEBUG" additivity="false">
        <appender-ref ref="org_mybatis_durid_sql_appender"/>
    </logger>
    <logger name="com.alibaba.druid" level="DEBUG" additivity="false">
        <appender-ref ref="org_mybatis_durid_sql_appender"/>
    </logger>
    <logger name="org.apache.ibatis" level="DEBUG" additivity="false">
        <appender-ref ref="org_mybatis_durid_sql_appender"/>
    </logger>
    <logger name="com.ipaynow.hr.dao.mybatis.mapper" level="DEBUG" additivity="false">
        <appender-ref ref="org_mybatis_durid_sql_appender"/>
    </logger>

    <!--<appender name="logstash" class="com.ipaynow.RedisAppender">-->
        <!--<source>operation_main</source>-->
        <!--<host>${logstash_redis_ip}</host>-->
        <!--<port>${logstash_redis_port}</port>-->
        <!--<password>${logstash_redis_password}</password>-->
      <!--</appender>-->

    <logger name="controller_log" level="DEBUG" additivity="false">
        <appender-ref ref="controller_log_appender"/>
    </logger>

</configuration>

